* {
    box-sizing: border-box;
}

body {
    background-color: rgba(7, 6, 6, 0.863);
}

.img img {
    margin: 0;
}

.container {
    text-align: center;
    margin-top: 10%;
}


/* animation: name duration timing-function delay iteration-count direction fill-mode; */


/* .container span {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: #fff;
    animation: popUp 1.5s linear infinite;
} */

.container .countyA {
    top: 50%;
    left: 40%;
    animation-delay: 1s;
}

.container .countyB {
    top: 20%;
    left: 40%;
    animation-delay: 0.5s;
}

.container .countyC {
    top: 50%;
    left: 50%;
    animation-delay: 0.7s;
}

@keyframes popUp {
    100% {
        transform: scale(5);
        opacity: 0;
    }
}

@media (max-width:360px) {
    .img img {
        width: 80%;
    }
}